* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.oculto {
    display: none;
}

h1 {
    margin-bottom: 20px;
}

#contenedor {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    max-width: 1000px;
}

#encabezado {
    margin-bottom: 60px;
}

canvas {
    background: black;
}

#tablero {
    width: 615px;
}

.ingreso {
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    margin-left: 0px;
}

.ingreso input{
    margin-left: 5px;
}

#inicio {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#datos div {
    margin-top: 10px;
    margin-bottom: 10px;
}